{% load static from staticfiles %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}RPG Creator{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/stupid.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="/static/js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body class="spacedout">
        <div class='wrap'>
            <header >
              <div class='container padded'>
                  <div class="fill middle centerall">
                    <ul class="menu">
                    <li class="third">
                      <a href="{% url 'views.index' %}">Home</a>
                    </li>

                    <li class="third">
                        <p>Welcome{% if user.is_authenticated %} back, {{ user.username }}{% endif %}!</p>
                    </li>

                    <li class="third">
                        <!-- Log in/Log out -->
                        {% if user.is_authenticated %}
                            <a href="{% url 'views.logout' %}" class="">Log Out</a>
                        {% else %}
                            <span>
                                <a href="{% url 'views.login' %}" class="">Log In</a>|
                                <a href="{% url 'views.register' %}" class="">Sign Up</a>
                            </span>
                        {% endif %}
                    </li>
                </div>
              </div>

            </header>

            <!-- Flash messages-->
            {% if messages %}
                {% for message in messages %}
                    <div class='notification {{ message.tags }}'>{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="row">

              <div class="main">

                <nav class="sidebar silver">
                    <ul class="padded">
                        <li><a href="{% url 'views.index' %}">Home</a></li>
                        <li><a href="/">Your Games</a></li>
                        <li><a href="/">Your Characters</a></li>
                        <li><a href='/'>Your Friends</a></li>
                    </ul>
                </nav>

                <div class="container padded center">
                    <div class="half centerall">
                        {% block content %}{% endblock %}
                    </div>
                </div>
              </div>
            </div>
        </div>
        <footer class="container padded align-right bottom">
            <p>A pen and paper role playing game manager
                <br>by <a href="http://github.com/SarahFowler73">Sarah Fowler</a>
            </p>
        </footer>
        
        <script src="https://use.fontawesome.com/81abc2c449.js"></script>
    </body>
</html>
